@import '../styles/shared';

.homeWrapper {
  @media screen and (max-width: $small) {
    width: 256px;
  }

  @media screen and (min-width: $medium) {
    min-width: 640px;
  }

  footer {
    bottom: 0;
    background-color: #141414;
    color: #fafafa;
    left: 0;
    padding: 6px 0;
    position: fixed;
    text-align: center;
    width: 100%;
  }

}

h1 {
  margin-top: 16px;
}

.homeWrapper a {
  font-size: 18px;
}
